### Grade A

| Protocol        | Link                                                                                                        | Judge Grade |
|-----------------|-------------------------------------------------------------------------------------------------------------|-------------|
| Biconomy        | [Biconomy QA](https://github.com/code-423n4/2023-01-biconomy-findings/blob/main/data/btk-Q.md)              | grade-a     |
| Ondo Finance    | [Ondo Finance QA](https://github.com/code-423n4/2023-01-ondo-findings/blob/main/data/btk-Q.md)              | grade-a     |
| Timeswap        | [Timeswap QA](https://github.com/code-423n4/2023-01-timeswap-findings/blob/main/data/btk-Q.md)              | grade-a     |
| RabbitHole      | [RabbitHole QA](https://github.com/code-423n4/2023-01-rabbithole-findings/blob/main/data/btk-Q.md)          | grade-a     |
| Numoen          | [Numoen QA](https://github.com/code-423n4/2023-01-numoen-findings/blob/main/data/btk-Q.md)                  | grade-a     |
| Popcorn         | [Popcorn QA](https://github.com/code-423n4/2023-01-popcorn-findings/blob/main/data/btk-Q.md)                | grade-a     |
| Neo Tokyo       | [Neo Tokyo QA](https://github.com/code-423n4/2023-03-neotokyo-findings/blob/main/data/btk-Q.md)             | grade-a     |
| Polynomial      | [Polynomial QA](https://github.com/code-423n4/2023-03-polynomial-findings/blob/main/data/btk-Q.md)          | grade-a     |
| Asymmetry       | [Asymmetry QA](https://github.com/code-423n4/2023-03-asymmetry-findings/blob/main/data/btk-Q.md)            | grade-a     |
| Contest 225     | [Contest 225 QA](https://github.com/code-423n4/2023-03-contest225-findings/blob/main/data/btk-Q.md)         | grade-a     |
| Caviar          | [Caviar QA](https://github.com/code-423n4/2023-04-caviar-findings/blob/main/data/btk-Q.md)                  | grade-a     |


### Grade B

| Protocol        | Link                                                                                                        | Judge Grade |
|-----------------|-------------------------------------------------------------------------------------------------------------|-------------|
| Debt DAO        | [Debt DAO QA](https://github.com/code-423n4/2022-11-debtdao-findings/blob/main/data/btk-Q.md)               | grade-b     |
| Redacted Cartel | [Redacted Cartel QA](https://github.com/code-423n4/2022-11-redactedcartel-findings/blob/main/data/btk-Q.md) | grade-b     |
| Astaria         | [Astaria QA](https://github.com/code-423n4/2023-01-astaria-findings/blob/main/data/btk-Q.md)                | grade-b     |
| Reserve         | [Reserve QA](https://github.com/code-423n4/2023-01-reserve-findings/blob/main/data/btk-Q.md)                | grade-b     |
| OpenSea Seaport | [OpenSea Seaport QA](https://github.com/code-423n4/2023-01-opensea-findings/blob/main/data/btk-Q.md)        | grade-b     |
| Drips           | [Drips QA](https://github.com/code-423n4/2023-01-drips-findings/blob/main/data/btk-Q.md)                    | grade-b     |
| Canto Identity  | [Canto Identity QA](https://github.com/code-423n4/2023-01-canto-identity-findings/blob/main/data/btk-Q.md)  | grade-b     |
| Ethos Reserve   | [Ethos Reserve QA](https://github.com/code-423n4/2023-02-ethos-findings/blob/main/data/btk-Q.md)            | grade-b     |
| Wenwin          | [Wenwin QA](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/btk-Q.md)                  | grade-b     |
| Frankencoin     | [Frankencoin QA](https://github.com/code-423n4/2023-04-frankencoin-findings/issues/529)                     | grade-b     |
| EigenLayer      | [EigenLayer QA](https://github.com/code-423n4/2023-04-eigenlayer-findings/blob/main/data/btk-Q.md)          | grade-b     |
| Ajna            | [Ajna QA](https://github.com/code-423n4/2023-05-ajna-findings/issues/462)                                   | grade-b     |
